parameters:
  database_username: {{ .Values.configs.databaseUsername }}
  database_password: ${{ .Values.secrets.databasePassword }}
  database_host: {{ .Values.configs.databaseHost }}
  database_port: {{ .Values.configs.databasePort }}